.container-md {
	--bg: #312A55;
	background-color: var(--bg);
}
#playbutton {
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    cursor: pointer;
}
#playbutton:hover {
    -webkit-text-fill-color: white;
}